.container{
    justify-content:flex-end;
    padding: 20px 20px;
    background-color: lightblue;
    width: 400px;
    height: 500px;
    border-radius: 10%;
    border: olivedrab 3px solid;

}
.btn{
    border-color: black;
    background-color: gray;
    padding: 20px 20px;
    align-items: center;
    margin: 5px 5px;
    
}
.calculator{
    padding: 20px 20px;
    margin: 20px 20px;
}
.btn:hover{
    background-color: lightsalmon;
    border: maroon 3px solid;
}
.fahim{
    height: 50px;
    border-radius: 5px;
    justify-items:right;
    background-color: rgb(212, 214, 207);
}
.fahim:hover{
    border: rgb(205, 102, 128) 3px solid;
    background-color: oldlace;
}